.contactList {
  display: flex;
  min-width: 400px;
  height: 100%;
  padding-left: 15px;
  flex-direction: column;
}

.enter {
  transform: scale(0);
}
.enterActive {
  transform: scale(1);
  transition: all 500ms linear;
}
.exit {
  transform: scale(1);
}
.exitActive {
  transform: scale(0);
  transition: all 500ms linear;
}
